@charset "UTF-8";

/* 취미 수정시 업로드 보안 부분 */

.master_hobby_plus_sub_imfor {
	width: 1600px;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	font-weight: bold;
}


.master_hobby_plus_cont_main_picture_imfor,
.master_hobby_plus_cont_sub_picture_imfor {
	width: 1600px;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	font-weight: bold;
	float: left;
}

.master_hobby_plus_cont_sub_picture_change,
.master_hobby_plus_cont_main_picture_change {
	width: 1600px;
	height: 50px;
	float: left;
}

.master_hobby_plus_cont_main_picture_sub_change,
.master_hobby_plus_cont_sub_picture_sub_change
{
	display: block;
	width: 200px;
	height: 40px;
	border: 1px solid #eee;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
}


.master_hobby_plus_cont_main_picture_change input[type="file"],
.master_hobby_plus_cont_sub_picture_change input[type="file"]
 {
	position: absolute;
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0;
}

.master_hobby_plus_cont_main_picture_change label,
.master_hobby_plus_cont_sub_picture_change label {
	display: block;
	width: 120px;
	height: 40px;
	color: #333;
	background-color:  #fff;
	cursor: pointer;
	border: 1px solid #00f9da;
	border-radius: 10px; 
	float: left;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	margin-left: 50px;
}





















