@charset "UTF-8";

/* 전체 부분 */
.login_plus_body {
	width: 100%;
	margin-top: 50px;
}

/* 전체 센터 부분 */

.login_plus_center {
	width: 1200px;
	margin: auto;
}

/* 제목 부분 */
.hobby_detail_sub {
	width: 1000px;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	font-weight: bold;
	margin: auto;
}



































